body{
   background: #d6d6d6;
   font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
   margin:0;
   padding:0;
}
.post{
   background: url('./image/image1.jpg');
   background-size:cover;
   width: 50%;
   left:0;
   position: absolute;
   height: 100%;
}
.post-r{
   background: url('./image/image2.jpg');
   background-size: cover;
   width: 50%;
   position: absolute;
   right: 0px;
   height: 100%;
}


.chart{
   position:relative;
   margin:auto;
   text-align: center;
}

.header{
   position:relative;
   margin-bottom:10%;
}
.hl{
   position:relative;
   width:50%;
}
.hr{
   position:relative;
   width:50%;
}

.header a{
   position:relative;
   text-decoration: none;
   color: black;
}
.header img{
   margin-bottom:-10px;
}

.boxinput, .submit{
   padding:7px 10px;
   color: rgb(77, 77, 77);
   border-radius: 6px;
   width:20%;
   margin: 10px 0;
   border: 1px rgb(97, 97, 97) solid;
   box-shadow: 2px 2px 2px #1f1f1f;
}
.submit{width:auto;}
.boxinput:hover{border: 1px rgb(0, 0, 0) solid;}
.submit:hover{background-color: #dddddd;}
table{
   background-color:white;
   width:100%;
}
td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 2px;
}

tr:nth-child(even) {
   background-color: #dddddd;
}